.editor-container {
    display: grid;
    place-items: center;
    height: 15vh;
    margin-top: 20vh;
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.text-area {
    border-radius: 10px;
    width: 300px;
    height: 60px;
    padding: 10px; 
}

.controls {
    display: flex;
    gap: 30px;
}
